<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			<h1 class="text-center">{{ .Title }}</h1>
			<ul class="list-unstyled">
				{{ range .Data.Pages }}
				<li class="media my-4">
					<img src="{{ $.Site.BaseURL }}/images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" class="align-self-center mr-3 img-fluid" alt="{{ .Title }}" />
					<div class="media-body">
						<h5 class="mt-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
						<p>{{ .Date.Format "Jan 2, 2006" }} {{ if .Params.DateEnd }} - {{ dateFormat "Jan 2, 2006 " .Params.DateEnd }} {{ end }}</p>
						{{ if .Params.FlavorText }}
							<p class="mb-0"> {{ .Params.FlavorText }} </p>
						{{ end }}
					</div>
				</li>
				{{ end }}
			</ul>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
