<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="container wrapper">
            <h1 class="mb-0">{{ .Title }}</h1>
            {{ if not .Date.IsZero }}
                <p class="mb-4">{{ .Date.Format "Jan 2, 2006 " }} {{ if .Params.DateEnd }} - {{ dateFormat "Jan 2, 2006 " .Params.DateEnd }} {{ end }}</p>
            {{ end }}
            <div>
                {{ .Content }}
            </div>
            {{ if .Params.images }}
                <h2>Images</h2>
                <div class="row">
                    {{ range .Params.images }}
                        <div class="post-image col-sm-3">
                            <a href="{{ $.Site.BaseURL }}/images/{{ .url }}" target="_blank">
                                <img src="{{ $.Site.BaseURL }}/images/{{ .url }}" alt="" class="img-fluid">
                                <p>{{ .caption }}</p>
                            </a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ partial "footer.html" . }}
    </body>
