<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}

        <link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}/css/styles.css"/>
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="container wrapper">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ if not .Date.IsZero }}
            <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
            {{ end }}
            <div class="post-content">
                {{ .Content }}
            </div>
            {{ if .Params.images }}
                <h2>Images</h2>
                <div class="post-images">
                    {{ range .Params.images }}
                    <div class="post-image col-sm-3">
                        <a href="{{ $.Site.BaseURL }}/images/{{ .url }}" target="_blank">
                            <img src="{{ $.Site.BaseURL }}/images/{{ .url }}" alt="">
                            <p>{{ .caption }}</p>
                        </a>
                    </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ partial "footer.html" . }}
    </body>
