.post-images {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    clear: both;
}

.post-image {
    position: relative;
}

.post-images img {
    max-width: 100%;
    height: auto;
    display: block;
}

.post-image p {
    display: block;
    margin: 0;
    text-align: center;
}
