<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Site.Title }} </title> 

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="contents">
			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading">{{ .Site.Params.Greetings }}</h1>
					<p class="lead text-muted">{{ .Site.Params.About }}</p>
					<p>
						<a href="{{ .Site.BaseURL }}/contact.html" class="btn btn-secondary">Contact</a>
						<a href="{{ .Site.BaseURL }}/projects.html" class="btn btn-primary">See projects</a>
					</p>
				</div>
			</section>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>

